<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <title>サンプル</title>
   <style type="text/css">
       table, td, th {
           border: solid black 1px;
           text-align: center;
       }
       table {
           width: 400px;
       }
       p {
           font-size: 10px
       }
       hr {
            border-width: 1px 0px 0px 0px;
            border-style: dashed;
            border-color: black;
            height: 10px;
        }
        img{
            width: 100px;
            height: 100px;
        }
   </style>
</head>
<body>
    <h3>社員一覧</h3>
    <h4>{{message}}</h4>
    <table>
        <tr>
            <th>社員ID</th>
            <th>名前</th>
            <th>部署</th>
            <th>更新</th>
        </tr>
       {% for item in emp_info %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.dept }}</td>
            <td>
                <form method="POST" action="/emp/edit">
                    <input type="hidden" name="emp_name" value="{{ item.name }}">
                    <button type="submit" name="change_info" value="{{item.id}}" >編集</button>
                </form>
                <form method="POST" action="/emp/delete">
                    <input type="hidden" name="emp_name" value="{{ item.name }}">
                    <button type="submit" name="delete_info" value="{{item.image_id}}" >削除</button>
                </form>
            </td>
        </tr>
       {% endfor %}
    </table>
    <form method="POST" action="/emp/add">
        <button type="submit" name="add_emp" value="push!!">新規追加</button>
    </form>
    <form method="POST" action="/emp/search">
        <button type="submit" name="search_emp" value="push!!">社員検索</button>
    </form>
    <form method="POST" action="/emp/output">
        <button type="submit" name="info_output" value="push!!">CSVファイルに出力</button>
    </form><br>
    <hr>
    <form method="POST" action="/dept">
        <button type="submit" name="go_dept_page" value="push!!">部署一覧</button>
    </form>
</body>
</html>
